{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center title">Symfony / Puppeteer</h1>
        <div class="form new">
            <h1>Create new Task</h1>

            {{ include('task/_form.html.twig') }}

            <button class="btn secondary" type="button" onclick="window.location.href='{{ path('app_task_index') }}'">
                Back to list
            </button>
        </div>
    </div>
{% endblock %}
